<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <!-- ImageSearchServlet is registered programmatically as a Spring bean
       (see ImageSearchApplication) - Spring Boot's embedded Tomcat does not
       process servlet declarations from web.xml. -->
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>imagesearch</welcome-file>
  </welcome-file-list>
</web-app>
